doctype html
html(lang="")
  head
      title "Hello World"
  body
    h1 Hello
    p This is an example with pug
    nav
      navbar-default  div
        h1 My Website!
      ul
        li
          a Home
        li
          a Page 1
        li
          a Page 2
      input
